*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans',sans-serif;
    background-image: linear-gradient(to top, #ffffff, #ebeaef, #d6d6e0, #c0c3d1, #aab0c2, #9aa4b6, #8a99a9, #7a8d9c, #6f848d, #677a7f, #617071, #5b6665);
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
    overflow: scroll;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
    margin-left: 5%;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Courier;
    color: #4A4453;
}
.mazda{
    margin-left: 40%;
    display: flex;
    flex-wrap: wrap;
    height: 150%;
}

.menu{
    float: right;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}
.paragraf p{
    margin-bottom: 10px;
    
  }

hr{
    width: 300px;
    border-top: 3px solid gray;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}